doctype
html
  head
    title= "four multiplayer | play connect four multiplayer online"
    script(src='/socket.io/socket.io.js')
    script(src='vendor.js')
    script(src='app.js')
    link(rel='stylesheet', type='text/css', href='main.css')
    link(rel='stylesheet', type='text/css', href='open-sans.css')
    meta(name='viewport', content='width=860, user-scalable=yes')
  body(ng-app='four')
    .nav-container
      .nav
        .pull-right(ng-if='inviteLink') invite link:
          input.code(value='{{inviteLink}}', onClick='this.select();', style='width: 225px')
        h1 four multiplayer
    .main
      div(ui-view)
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-2399887-19', 'auto');
          ga('send', 'pageview');
